########################################################################

<define name="bindip" value="##EDIT-IPv4-IP##">
<define name="localips" value="&bindip;/24">

<server
# name: Hostname of your server. Does not need to resolve, but
# does need to be correct syntax (something.somethingelse.tld).
name="##EDIT-SERVERNAME##.IRC4Fun.net"

# description: Server description. Spaces are allowed.
description="##EDIT-DESCRIPTION##"
network="IRC4Fun">


#-#-#-#-#-#-#-#-#-#-#-#- ADMIN INFORMATION -#-#-#-#-#-#-#-#-#-#-#-#
# #
# Describes the Server Administrator's real name (optionally), #
# nick, and email address. #
# #

<admin
# name: Real Name
name="##EDIT-ADMIN##"

# nick: Nickname (preferably what you use on the network)
nick="##EDIT-ADMIN##"

# email: email address. Does not have to be valid
# but should be for the users to be able to contact you.
email="##EDIT-ADMIN##@IRC4Fun.net">

<bind address="" port="6697" type="clients" ssl="gnutls">
<bind address="##EDIT-IPv6-ADDRESS" port="6697" type="clients" ssl="gnutls">
<gnutls
certfile="##EDIT-PATH##/inspircd/run/conf/cert.pem"
keyfile="##EDIT-PATH##/inspircd/run/conf/key.pem"
priority="SECURE192:-VERS-SSL3.0">
<module name="m_ssl_gnutls.so">

# Plaintext listener that binds on a TCP/IP endpoint:
<bind address="##EDIT-IPv4-ADDRESS" port="6661-6669" type="clients">
<bind address="##EDIT-IPv6-ADDRESS" port="6661-6669" type="clients">

# Listener that binds on a UNIX endpoint (not supported on Windows):
#<bind

<include executable="curl --silent --anyauth --user ##EDIT-SERVER-USERNAME##:##EDIT-SERVER-PASSWORD## https://irc4fun.net/c0nfs/providers/irccloud.conf"
noenv="yes"
noexec="yes"
noinclude="no"
#mandatorytag="connect"
>

<include executable="curl --silent --anyauth --user ##EDIT-SERVER-USERNAME##:##EDIT-SERVER-PASSWORD## https://irc4fun.net/c0nfs/providers/irc4fun.conf"
noenv="yes"
noexec="yes"
noinclude="no"
#mandatorytag="connect"
>

<include executable="curl --silent --anyauth --user ##EDIT-SERVER-USERNAME##:##EDIT-SERVER-PASSWORD## https://irc4fun.net/c0nfs/classes.conf"
noenv="yes"
noexec="yes"
noinclude="no"
>



#-#-#-#-#-#-#-#-#-#-#-#-  CIDR CONFIGURATION   -#-#-#-#-#-#-#-#-#-#-#-
#                                                                     #
# CIDR configuration allows detection of clones and applying of       #
# throttle limits across a CIDR range. (A CIDR range is a group of    #
# IPs, for example, the CIDR range 192.168.1.0-192.168.1.255 may be   #
# represented as 192.168.1.0/24). This means that abuse across an ISP #
# is detected and curtailed much easier. Here is a good chart that    #
# shows how many IPs the different CIDRs correspond to:               #
# https://en.wikipedia.org/wiki/IPv4_subnetting_reference             #
# https://en.wikipedia.org/wiki/IPv6_subnetting_reference             #
#                                                                     #

<cidr
# ipv4clone: specifies how many bits of an IP address should be
# looked at for clones. The default only looks for clones on a
# single IP address of a user. You do not want to set this
# extremely low. (Values are 0-32).
ipv4clone="32"

# ipv6clone: specifies how many bits of an IP address should be
# looked at for clones. The default only looks for clones on a
# single IP address of a user. You do not want to set this
# extremely low. (Values are 0-128).
ipv6clone="128">

<include executable="curl --silent --anyauth --user ##EDIT-SERVER-USERNAME##:##EDIT-SERVER-PASSWORD## https://irc4fun.net/c0nfs/opers.conf"
noenv="yes"
noexec="yes"
noinclude="no"
#mandatorytag="oper"
>

<include executable="curl --silent --anyauth --user ##EDIT-SERVER-USERNAME##:##EDIT-SERVER-PASSWORD## https://irc4fun.net/c0nfs/links-##EDIT-SERVERNAME##.conf"
noenv="yes"
noexec="yes"
noinclude="no"
#mandatorytag="link"
>

#-#-#-#-#-#-#-#-#-#- MISCELLANEOUS CONFIGURATION -#-#-#-#-#-#-#-#-#-#
# #

<files motd="examples/motd.txt">

<dns
# server: DNS server to use to attempt to resolve IP's to hostnames.
# in most cases, you won't need to change this, as inspircd will
# automatically detect the nameserver depending on /etc/resolv.conf
# (or, on Windows, your set nameservers in the registry.)
# Note that this must be an IP address and not a hostname, because
# there is no resolver to resolve the name until this is defined!
#
# server="127.0.0.1"

# timeout: time to wait to try to resolve DNS/hostname.
timeout="5">

# An example of using an IPv6 nameserver
#<dns server="::1" timeout="5">

<pid file="##EDIT-PATH##/inspircd/run/data/inspircd.pid">

#-#-#-#-#-#-#-#-#-#-#-#-#- LIST MODE LIMITS #-#-#-#-#-#-#-#-#-#-#-#-#-#

<include executable="curl --silent --anyauth --user ##EDIT-SERVER-USERNAME##:##EDIT-SERVER-PASSWORD## https://irc4fun.net/c0nfs/server-options.conf"
noenv="yes"
noexec="yes"
noinclude="no"
>


#-#-#-#-#-#-#-#-#-#-#-# PERFORMANCE CONFIGURATION #-#-#-#-#-#-#-#-#-#-#
# #

<performance
# netbuffersize: Size of the buffer used to receive data from clients.
# The ircd may only read this amount of text in 1 go at any time.
netbuffersize="10240"

# somaxconn: The maximum number of connections that may be waiting
# in the accept queue. This is *NOT* the total maximum number of
# connections per server. Some systems may only allow this to be up
# to 5, while others (such as Linux and *BSD) default to 128.
# Setting this above the limit imposed by your OS can have undesired
# effects.
somaxconn="128"

# softlimit: This optional feature allows a defined softlimit for
# connections. If defined, it sets a soft max connections value.
softlimit="12800"

# clonesonconnect: If this is set to no, we won't check for clones
# on initial connection, but only after the DNS check is done.
# This can be useful where your main class is more restrictive
# than some other class a user can be assigned after DNS lookup is complete.
# Turning this option off will make the server spend more time on users we may
# potentially not want. Normally this should be negligible, though.
# Default value is yes
clonesonconnect="yes"

# timeskipwarn: The time period that a server clock can jump by before
# operators will be warned that the server is having performance issues.
timeskipwarn="2s"

# quietbursts: When syncing or splitting from a network, a server
# can generate a lot of connect and quit messages to opers with
# +C and +Q snomasks. Setting this to yes squelches those messages,
# which makes it easier for opers, but degrades the functionality of
# bots like BOPM during netsplits.
quietbursts="yes">

#-#-#-#-#-#-#-#-#-#-#-# SECURITY CONFIGURATION #-#-#-#-#-#-#-#-#-#-#-#

<security
# allowcoreunload: If this value is set to yes, Opers will be able to
# unload core modules (e.g. core_privmsg).
allowcoreunload="no"

# announceinvites: This option controls which members of the channel
# receive an announcement when someone is INVITEd. Available values:
# 'none' - don't send invite announcements
# 'all' - send invite announcements to all members
# 'ops' - send invite announcements to ops and higher ranked users
# 'dynamic' - send invite announcements to halfops (if available) and
# higher ranked users. This is the recommended setting.
announceinvites="dynamic"

# hideulines: If this value is set to yes, U-lined servers will
# be hidden from non-opers in /LINKS and /MAP.
hideulines="yes"

# flatlinks: If this value is set to yes, /MAP and /LINKS will
# be flattened when shown to non-opers.
flatlinks="yes"

# hideserver: When defined, the given text will be used in place
# of the server name in public messages. As with <server:name> this
# does not need to resolve but does need to be a valid hostname.
#
# NOTE: enabling this will cause users' idle times to only be shown
# when a remote whois (/WHOIS <nick> <nick>) is used.
#hideserver="*.example.com"

# hidebans: If this value is set to yes, when a user is banned ([KGZ]-lined)
# only opers will see the ban message when the user is removed
# from the server.
hidebans="yes"

# hidekills: If defined, replaces who executed a /KILL with a custom string.
hidekills=""

# hideulinekills: Hide kills from clients of ulined servers from server notices.
hideulinekills="yes"

# hidesplits: If enabled, non-opers will not be able to see which
# servers split in a netsplit, they will only be able to see that one
# occurred (If their client has netsplit detection).
hidesplits="yes"

# maxtargets: Maximum number of targets per command.
# (Commands like /NOTICE, /PRIVMSG, /KICK, etc)
maxtargets="20"

# customversion: A custom message to be displayed in the comments field
# of the VERSION command response. This does not hide the InspIRCd version.
customversion=""

# runasuser: If this is set, InspIRCd will attempt to switch
# to run as this user, which allows binding of ports under 1024.
# You should NOT set this unless you are starting as root.
# NOT SUPPORTED/NEEDED UNDER WINDOWS.
#runasuser=""

# runasgroup: If this is set, InspIRCd will attempt to switch
# to run as this group, which allows binding of ports under 1024.
# You should NOT set this unless you are starting as root.
# NOT SUPPORTED/NEEDED UNDER WINDOWS.
#runasgroup=""

# restrictbannedusers: If this is set to yes, InspIRCd will not allow users
# banned on a channel to change nickname or message channels they are
# banned on. This can also be set to silent to restrict the user but not
# notify them.
restrictbannedusers="yes"

# genericoper: Setting this value to yes makes all opers on this server
# appear as 'is a server operator' in their WHOIS, regardless of their
# oper type, however oper types are still used internally. This only
# affects the display in WHOIS.
genericoper="no"

# userstats: /STATS commands that users can run (opers can run all).
userstats="Pu">

#-#-#-#-#-#-#-#-#-#-#-#-# LIMITS CONFIGURATION #-#-#-#-#-#-#-#-#-#-#-#

<limits
# maxaway: Maximum length of an away message.
maxaway="200"

# maxchan: Maximum length of a channel name.
maxchan="60"

# maxhost: Maximum length of a hostname.
maxhost="64"

# maxident: Maximum length of a ident/username.
maxident="10"

# maxkick: Maximum length of a kick message.
maxkick="300"

# maxmodes: Maximum number of mode changes per line.
maxmodes="20"

# maxnick: Maximum length of a nickname.
maxnick="30"

# maxquit: Maximum length of a quit message.
maxquit="300"

# maxreal: Maximum length of a real name.
maxreal="130"

# maxtopic: Maximum length of a channel topic.
maxtopic="330">

#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
# Logging
# -------
#
# Logging is covered with the <log> tag, which you may use to change
# the behaviour of the logging of the IRCd.
#
# An example log tag would be:
# <log method="file" type="OPER" level="default" target="opers.log">
# which would log all information on /OPER (failed and successful) to
# a file called opers.log.
#
# There are many different types which may be used, and modules may
# generate their own. A list of useful types:
# - USERS - information relating to user connection and disconnection
# - OPER - successful and failed oper attempts
# - KILL - kill related messages
# - FILTER - messages related to filter matches (filter module)
# - CONFIG - configuration related messages
# - COMMAND - die and restart messages, and messages related to unknown user types
# - SOCKET - socket engine informational/error messages
# - MODULE - module related messages
# - STARTUP - messages related to starting up the server
#
# You may also log *everything* by using a type of *, and subtract things out
# of that by using -TYPE - for example "* -USERINPUT -USEROUTPUT".
#
# Useful levels are:
# - default (general messages, including errors)
# - sparse (misc error messages)
# - debug (debug messages)
#
# Some types only produce output in the debug level, those are:
# - BANCACHE - ban cache debug messages
# - CHANNELS - information relating to joining/creating channels
# - CULLLIST - debug messages related to issues with removing users
# - RESOLVER - DNS related debug messages
# - CONNECTCLASS - Connection class debug messages
# - USERINPUT
# - USEROUTPUT
#
# If your server is producing a high levels of log messages you can also set the
# flush="[positive number]" attribute to specify how many log messages should be
# buffered before flushing to disk. You should probably not specify this unless
# you are having problems.
#
# The following log tag is highly default and uncustomised. It is recommended you
# sort out your own log tags. This is just here so you get some output.

<log method="file" type="* -USERINPUT -USEROUTPUT" level="default" target="ircd.log">

#-#-#-#-#-#-#-#-#-#-#-#-#- WHOWAS OPTIONS -#-#-#-#-#-#-#-#-#-#-#-#-#
# #
# This tag lets you define the behaviour of the /WHOWAS command of #
# your server. #
# #

<whowas
# groupsize: Maximum entries per nick shown when performing
# a /WHOWAS <nick>.
groupsize="10"

# maxgroups: Maximum number of nickgroups that can be added to
# the list so that /WHOWAS does not use a lot of resources on
# large networks.
maxgroups="100000"

# maxkeep: Maximum time a nick is kept in the whowas list
# before being pruned. Time may be specified in seconds,
# or in the following format: 1y2w3d4h5m6s. Minimum is
# 1 hour.
maxkeep="2d">

#-#-#-#-#-#-#-#-#-#-#-#-#-#- BAN OPTIONS -#-#-#-#-#-#-#-#-#-#-#-#-#-#
# #
# The ban tags define nick masks, host masks and ip ranges which are #
# banned from your server. All details in these tags are local to #
# Your server. #
# #

<badhost host="root@*" reason="Don't IRC as root">
<badhost host="*@198.51.100.0/24" reason="This subnet is bad.">


# exception: Hosts that are exempt from [KGZ]-lines.
<exception
# host: ident@hostname to exempt.
# Wildcards and CIDR (if you specify an IP) can be used.
host="##EDIT-YOUR-HOSTMASK##"

# reason: Reason for exception. Only shown in /STATS e.
reason="##EDIT-SERVER-ADMIN##'s hostname">
<exception
host="*@*.netsplit.de"
reason="netsplit.de">

#-#-#-#-#-#-#-#-#-#-#- INSANE BAN OPTIONS -#-#-#-#-#-#-#-#-#-#-#-#-#-#

<insane
# hostmasks: Allow bans with insane hostmasks. (over-reaching bans)
hostmasks="no"

# ipmasks: Allow bans with insane ipmasks. (over-reaching bans)
ipmasks="no"

# nickmasks: Allow bans with insane nickmasks. (over-reaching bans)
nickmasks="no"

# trigger: What percentage of users on the network to trigger
# specifying an insane ban as. The default is 95.5%, which means
# if you have a 1000 user network, a ban will not be allowed if it
# will be banning 955 or more users.
trigger="95.5">

<include executable="curl --silent --anyauth --user ##EDIT-SERVER-USERNAME##:##EDIT-SERVER-PASSWORD## https://irc4fun.net/c0nfs/modules.conf"
noenv="yes"
noexec="no"
noinclude="no"
#mandatorytag="module"
>

#-#-#-#-#-#-#-#-#-#-#-# SERVICES CONFIGURATION #-#-#-#-#-#-#-#-#-#-#-#

<include executable="curl --silent --anyauth --user ##EDIT-SERVER-USERNAME##:##EDIT-SERVER-PASSWORD## https://irc4fun.net/c0nfs/services/anope.conf"
noenv="yes"
noexec="yes"
noinclude="no"
#mandatorytag="include"
>
<include executable="curl --silent --anyauth --user ##EDIT-SERVER-USERNAME##:##EDIT-SERVER-PASSWORD## https://irc4fun.net/c0nfs/services/generic.conf.example"
noenv="yes"
noexec="yes"
noinclude="no"
#mandatorytag="module"
>

#########################################################################
